nav {
    margin-top: 0px;
    margin-bottom: 2px;
    position: relative;
	
}
.panel { 
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
}

#pruebas{
    margin-top: 20%;
}



footer {
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%;
    
}

body {
    background-color: #AFAFAF;
}